

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sansita Swashed', cursive;
}

.night-theme-logo {
    color: #111 !important;
    border: 5px solid #111 !important;
  }
  .night-theme-body {
    background-color: black; 
  }
  
  .container {
  /*   border: 5px solid red; */
  /*   position: absolute; */
    top: 250px;
    overflow: hidden;
      
    display: flex;
    justify-content: space-around;
    gap: 50px;
    width: 1000px;
    height: 500px;
    
  /*   margin-left: 100px; */
  /*   margin: 0 10%; */
    margin: 0 auto;
  }
  
  #carousel {
    display: flex;
  /*   flex-direction: column; */
    justify-content: space-between;
    align-items: space-between;
  /*   flex-direction: row; */
    
  /*   height: 400px; */
  }
  
  .arrow {    
    border: 2px solid white;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 2.5rem;
    width: 0px;
    height: 5px;
    padding: 20px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
  }
  p#arrow-left.arrow {
    position: absolute;
    top: 350px; 
    margin-left: 5%;
    z-index: 1;
  }
  p#arrow-right.arrow {
    position: absolute;
    top: 350px; 
    margin-left: 90%;
    z-index: 1;
  }
  nav {
    display: flex;
    justify-content: space-between;
  /*   align-items: center; */
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 25px;
  }
  nav a {
    margin-top: 15px;
    color: whitesmoke;
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;

    &:hover {
      background-color: whitesmoke;
      color: #333;
      text-decoration: underline;
    }
  }
  nav ul {
    display: flex;
    list-style-type: none;
  }
  nav ul li {
    margin: 0 25px;
  }
  
  @media only screen and (max-width: 800px) {
    .container {
      overflow: initial;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
    div.container {
  /*     border: 1px solid green; */
  /*     margin-left: 25px; */
  /*     margin-top: 550spx; */
    }
    .arrow {
      display: none;    
    }
    nav {
      display: none;
    }
  }
  
  
  /* Toggle */
  
  .toggle-text {
      font-size: 10px;
  }
  
  .toggle {
  /*     border: 3px solid red; */
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  }
  
  .toggle-btn {
      display: flex;
      align-items: center;
      height: 30px;
      width: 60px;
      height: 15px;
      width: 30px;
      background-color: black;
      border-radius: 30px;
      padding: 5px;
      margin: 0 10px;
  }
  .toggle-btn:hover {
    cursor: pointer;
  }
  .toggle-btn::after {
    position: absolute;
    content: ". . . .";
    margin-bottom: 12px;
    margin-left: 5px;
  }
  /* .toggle-btn::before {
    position: absolute;
    content: "  ";
    margin-bottom: 12px;
    margin-right: 12px;
  } */
  
  
  .inner-circle {
      width: 30px;
      height: 30px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: white;
      transition: all 250ms;
  
      background-position: center; 
      background-repeat: no-repeat;
      background-size: cover;
      background-color: yellow !important;
      z-index: 1;
  }
  
  .inner-circle-pac-man-right {
    clip-path: polygon(100% 0, 50% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
  }
  .inner-circle-pac-man-left {
    clip-path: polygon(100% 0, 100% 50%, 100% 50%, 100% 100%, 0 100%, 50% 50%, 0 0);
  }
  
  .toggle-btn.toggled > .inner-circle {
  /*     transform: translateX(30px); */
      transform: translateX(15px);
      background-color: white;
      
  /*     background-image: url("img/Empire.png"); */
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover; 
  }
  
  .unselected {
      opacity: 0.25;
  }
  
  
  /*  */
  #logo {
    border: 5px solid white;
  /*   Night Theme */
  /*   border: 5px solid #333; */
    width: 500px;
    margin: 0 auto;
  /*   box-shadow: 1px 1px 1px black, 2px 2px 2px blueviolet, -1px -1px 7px violet; */
    box-shadow: 1px 1px 1px black, 2px 2px 2px rgb(211,13,42), -1px -1px 7px red;
    color: whitesmoke;
    /* Night Theme */
  /*   color: #111;  */
    font-size: 4rem;
    text-align: center;
  /*   text-shadow: 1px 1px 1px black, 2px 2px 2px blueviolet, -1px -1px 7px violet; */
    box-shadow: 1px 1px 1px black, 2px 2px 2px rgb(211,13,42), -1px -1px 7px red;
    background-image: url('../img/LaRocCade-01.png');  
    
    height: 100px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 275px;
  }
  
  h3 {
    text-align: center;
  }
  .text-shadow-light {
    text-shadow: 1px 1px 1px white;
  }
  
  .reflect {
  
  /*     -webkit-box-reflect: below; */
  /*     -webkit-box-reflect: below 8px; */
  /*   -webkit-box-reflect: below 8px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.4))); */
      -webkit-box-reflect: below 8px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.5)));
  }
  
  .game-card{
  /*   transform: rotateY(60deg) translateZ(250px); */
  /*   background: #0072bc; */
    background-color: transparent;
  /*   text-shadow: 1px 1px 1px black, 2px 2px 2px blueviolet, -1px -1px 7px violet; */
    text-shadow: 1px 1px 1px black, 2px 2px 2px rgb(211,13,42), -1px -1px 7px red;
  
    
    position: relative;
  
  /*   animation: mymove 15s infinite; */
  /*   transition: margin 1.35s ease-in-out; */
    transition: left .3s cubic-bezier(.27,-0.43,1,1.01);
    // cursor: pointer;
    cursor: url(../dist/img/iconmonstr-coin-3.svg), auto;  
  }
  
  /* @keyframes mymove { */
  /*   from {top: 0px;}
    to {top: 200px;} */
  /*    margin: 0 500px;
    
    0% { margin: 0;}
    50% { margin: 0 500px;}
    100% { margin: 0;}
  } */
  
  /* .game-01 {
    border: 5px solid green;
    position: absolute;
    left: 0px;
  }
  .game-02 {
    border: 5px solid green;
    position: absolute;
    left: 400px;
  }
  .game-03 {
    border: 5px solid green;
    position: absolute;
    left: 800px;
  }
  .game-04 {
    border: 5px solid green;
    position: absolute;
    left: 1200px;
  }
  .game-05 {
    border: 5px solid green;
    position: absolute;
    left: 1600px;
  }
  .game-06 {
    border: 5px solid green;
    position: absolute;
    left: 2000px;
  } */
  
  body {
  /*   font-family: Arial, Helvetica, sans-serif; */
    color: #333;
  }
  
  .flip-card {
  
    
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  
  }
  
  .flip-card-inner {
  
    
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    
    transition: transform .2s;
    transform-style: preserve-3d;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
  
    position: absolute;
    width: 100%;
    height: 100%;
  
  
  }
  
  .flip-card-front {  
    background-color: #bbb;
    color: black;
  
  }
  
  .flip-card-back {
    background-color: #333;
    color: white;
    transform: rotateY(180deg);
  }
  
  .button-quater {
    border: 3px solid red;
    box-shadow: 1px 1px 1px black, 2px 2px 2px blueviolet, -1px -1px 7px violet;
    color: red;
    width:75px;
    margin: 0 auto;
  }
  
  .button-quater:hover,
  .button-quater:focus {
    cursor: pointer;
    color: greenyellow;
    border: 3px solid green;
    box-shadow: 1px 1px 1px black, 2px 2px 2px green, -1px -1px 7px greenyellow;
    text-shadow: 1px 1px 1px green;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }